body { 
    background-image: url('background.jpg'); 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 1px;
} 

h1 {
    color: white; 
    font-size: 3.5em; 
    margin-bottom: 5px;
}

.game-info { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 10px; 
} 

#startButton { 
    margin-bottom: 20px; 
    padding: 10px; 
    font-size: 16px; 
    cursor: pointer; 
} 

#endButton { 
    margin-bottom: 20px; 
    padding: 10px; 
    font-size: 16px; 
    cursor: pointer; 
} 

#volume, #timer {
    font-size: 1.5em; 
}

.game-container { 
    background-color: rgba(185, 229, 251, 0.5);
    display: grid; 
    grid-template-columns: repeat(3, 160px); 
    gap: 10px; 
    border: 2px solid rgb(216, 216, 216); 
    padding: 20px; 
    border-radius: 10px; 
} 

.hole { 
    height: 150px; 
    background: rgb(148, 103, 59); 
    border: 5px solid rgb(255, 255, 255); 
    cursor: pointer; 
    border-radius: 100px; 
} 

.mole { 
    background-size: 150px; 
    background-image: url(mole.png); 
} 

@media only screen and (max-width: 600px) { 
    .game-container { 
        width: 80%; 
        gap: 10px; 
        padding: 5%; 
        grid-template-columns: repeat(3, 38%); 
    } 

    .hole { 
        height: 50px; 
        width: 50px; 
        border-radius: 100px; 
    } 

    .mole { 
        background-size: 50px; 
        background-image: url('mole.png'); 
    } 
}
