/* Base styles for the website */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #806f5b; /* Light brown background */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff; /* Dark gray text */
}

/* Styles for the image gallery */
.full-img {
  text-align: center; /* Center the images */
}

.full-img img {
  max-width: 100%; /* Limit the maximum width of the images */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure that the images are centered properly */
  margin: 0 auto; /* Center the images horizontally */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #d4c9b7; /* Light beige background */
  color: #333; /* Dark gray text */
}

.thumb-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.thumb-bar img {
  width: 20%;
  max-width: 100px; /* Set a maximum width for the thumbnails */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
  margin: 0 5px;
  border: 2px solid #d4c9b7; /* Light beige border */
}
