.image {
    width: 100%; /* Set image width to 100% */
    height: auto; /* Maintain aspect ratio */
}
  
.title-box,
.price-box,
.shipping-box,
.deal-box {
    background-color: #ccc; 
    padding: 5px; 
    width: 30%; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}
.special-deal-box {
    background-color: red; 
    color: white; 
    padding: 5px; 
    width: 30%;
    border-radius: 10px; 
    margin-bottom: 10px; 
}
.image-container {
    position: relative;
    display: inline-block;
}
  
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.image-overlay img {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
  
.image-overlay h2,
.image-overlay p,
.image-overlay button {
    text-align: left; 
}


